<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="returnsData">
            <h2><span>Returns Data</span> {{ returnsData.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Date Of Return</span></dt>
                <dd>
                    <span>{{ returnsData.dateOfReturn }}</span>
                </dd>
                <dt><span>Sales Code</span></dt>
                <dd>
                    <div *ngIf="returnsData.salesCode">
                        <a [routerLink]="['/sales', returnsData.salesCode?.id, 'view']">{{ returnsData.salesCode?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/returns-data', returnsData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
